
{% extends 'layouts/main.html' %}

{% block body %}
{% endblock %}

{% block script %}
    <script src="/public/js/flixi/stats.js"></script>
    <script src="/public/js/flixi/detector.js"></script>

    <script src="/public/js/flixi/three.js"></script>
    <script src="/public/js/flixi/pixi.js"></script>
    <script src="/public/js/flixi/keypress.js"></script>
    <script src="/public/js/flixi/flixi.js"></script>

    <script src="/public/js/libs/collision.js"></script>
    <script src="/public/js/obj/materials.js"></script>
    <script src="/public/js/obj/player.js"></script>
    <script src="/public/js/obj/wall.js"></script>
    <script src="/public/js/obj/world.js"></script>



    <script type="text/javascript">
        if (!Detector.webgl) Detector.addGetWebGLMessage();

        var world = new MainWorld();

        //renderer
        renderer = new THREE.WebGLRenderer({
            antialias: true
        });
        renderer.setClearColor( 0x323D47 );
        renderer.setPixelRatio( window.devicePixelRatio );
        renderer.setSize(window.innerWidth, window.innerHeight);
        renderer.domElement.style.display = 'inherit'
        document.body.appendChild(renderer.domElement);

        //stats
        stats = new Stats();
        stats.domElement.style.position = 'absolute';
        stats.domElement.style.top = '0px';
        container = document.createElement( 'div' );
                        document.body.appendChild( container );
        container.appendChild( stats.domElement );

        //MAINLOOP
        FLIXI.RunEveryFrame(function() {
            world.runFrame();
            //var timer = 0.0001 * Date.now();
            //world.camera.position.x--;
            renderer.render(world.scene, world.camera)
            stats.update();
        })
    </script>
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
    //SOCKETIO
    var socket = io();
    var updateServer = function(){
        //console.log(world.player.getUpdateData())
        socket.emit("updatePlayer", world.player.getUpdateData())
         setTimeout(updateServer, 200)  
    }
    updateServer();
    </script>
{% endblock %}
